body {
    margin: 20px;
    padding: 0px;

}
.white {
    background: white;
}
.black {
    background: black;
}
table {
    border-collapse: collapse;
    margin-top: 20px;
}
tr {
    width: 600px;
    height: 30px;
}
td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
